div.page_header_wrapper
  div.page_header
    h1= title 
div.page_wrapper
  div.sidebar_left
  div.main_region
    div.page_title_region
      h2.ui-state-default Welcome Mr. Zapp
      div.right-nav
        a(data-role="button",href="/deal/new") Start a Deal
    div.application_region
      div#tabs
        ul
          li
            a(href="#tabs-1") Current Deals
          li
            a(href="#tabs-2") Scheduled Deals
          li
            a(href="#tabs-3") Past Deals
          li
            a(href="#tabs-4") My Analytics
        div#tabs-1
          span.toolbar.sort.ui-widget-header.ui-corner-all
            span Sort:
            button(id="sort-time") Ending Time
            button(id="sort-alpha") Alphabetical
            button(id="sort-pop") Popularity
          ul.deals
            - each deal in deals
                li.deal
                  a.ui-widget-content.ui-corner-all(href="/deal/"+deal._id.toHexString())
                    span.deal-image
                    span.deal-message
                      h4= deal.title
                      p= deal.body
                      p.info Ending
                        time= deal.created_at
                        span.info-grabbed 40 grabbed
                        span.info-redeemed 15 redeemed
                      p= deal.fileName 		
          a(href="/device/removeall", data-role="button") DEMO ONLY! REMOVE ALL DEVICES					
        div#tabs-2
          h3 Scheduled Deals
          p Scheduled Deals will be displayed here.
        div#tabs-3
          h3 Past Deals
          p Past Deal history will be displayed here.
        div#tabs-4
          h3 Analytics
          p Analytics will be displayed here.
    div.clearingDiv
footer.page_footer
  p.copy Copyright 2012         